.header {
    background-color: #2C4770;
    text-align: center;
    color: #758AA8;
}

form {
    background-color: #4C668C;
}


.image-grid {
    display: grid;
    grid-template-columns: max-content;
    grid-gap: 8px 8px;
    grid-auto-flow: row dense;
    box-sizing: border-box;
    background-color: #4C668C;
}
