.header {
    background-color: #2C4770;
    text-align: center;
    color: #758AA8;
}

form {
    background-color: #4C668C;
}


.image-grid {
   background-color: #142E54;
   display: grid;
   grid-template-columns: repeat(4, 25%);
   grid-template-rows: auto;
   justify-items: center;
   align-items: center;
   }