.image-grid {
    display: flex;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: 2fr 2fr; */
    background-color: #738152;
    /* padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 1em; */
    }